/* >>> All >>> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: rgb(255, 255, 255);
}


/* >>> Colors >>> */

/*
brand-blue
background: #224CC0;
*/


/* >>> Page 1 >>> */

.header-img {
  width: 100%;
}

.header-text-box {
  padding: 1% 5% 0 5%;
  margin: auto;
  text-align: center;
}

.header-text-box h1, h2 {
  opacity: 0.7;
}

.inside {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
}

.logo-click {
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;;
  background: none;
  outline: none;
}

.logo-click img {
  width: 50px;
}

.logo-click:hover {
  cursor: pointer;
}


/* >>> Page 2 >>> */

#page2 {
  /* use transition so when it changes background it doesn't look too abrupt; ease: specifies a transition effect with a slow start, then fast, then end slowly (this is default)*/
  transition: background 0.5s ease;

  /* use position: relative to help move elements on top of each other */
  position: relative;
}

.field-baik,
.field-buruk,
.field-hasil {
  /* center all the elements relative to the page and make them immovable with absolute */
  position: absolute;
  top: 50%;
  left: 50%;

  /* reposition the elements to make them more centered */
  transform: translate(-50%, -50%);
  
  padding: 10px;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease;
  background: rgb(34, 76, 192);
  color: white;
  flex-direction: column;
}

.field-inside {
  display: flex;
  padding: 10px;
}

.field-baik i,
.field-buruk i {
  padding: 10px;
  cursor: pointer;
}

.field-baik input,
.field-buruk input {
  /* remove border */
  background: none;
  border: none;
  width: 300px;
  background: white;
  padding-left: 10px;
  outline: none;
}

.field-hasil {
  border: 5px solid white;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  text-align: center;
}

.field-hasil h2 {
  padding: 10px;
  opacity: 1;
}

.field-hasil img {
  width: 50px;
}

div.inactive {
  opacity: 0;

  /* make sure that the inactive element can't be clicked */
  pointer-events: none;

  /* move the elements some place else while they're inactive */
  transform: translate(-50%, 50%);
}

div.active {
  opacity: 1;

  /* elements can be clicked again */
  pointer-events: all;

  /* move the elements back to their original position */
  transform: translate(-50%, -50%);
}